html, body{
  margin: 0;
  padding: 0;
}

body{
  background: url(images/bg1.jpg) no-repeat;
  background-size: cover;
  font-family: sans-serif, Arial;
}

/* header */

header{
  clear: both;
  padding: 45px;
  height: 150px;
}

img{
  width: 150px;
  float: left;
}

ul{
  float: right;
}

li{
  display: inline-block;
  margin-right: 25px;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  transition: all 0.2s;
}

a:focus{
  background-color: red;
  border-radius: 5px;
  padding: 15px;
}

a:hover{
  background-color: red;
  border-radius: 5px;
  padding: 15px;
}
/* section */

section{
  text-align: center;
  margin: auto;
}

h1{
  color: white;
  font-size: 3.5em;
}

button{
  background-color: red;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 25px;
  font-size: 0.8em;
  margin-right: 25px;
  margin-left: 25px;
  cursor: pointer;
}
